<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/edit.css" />
<%- include('../partials/nav') %>

<main>
  <div id="topSpaceBuffer"></div>
  <div id="editProfile">
    <h1>Edit Profile</h1>

    <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <label for="name"><b>Name:</b></label>
      <input class="formInput" id="name" type="text" name="name" placeholder="Your Name" value="<%= profile.name %>" required />

      <br /><br />
      
      <label for="avatar"><b>Avatar (Profile Picture):</b></label>
      <div id="update-profile-pic-container">
      <img id="current-profile-pic" src="<%= profile.avatar%>" alt="current profile pic">
      <input class="formInput" id="avatar" type="file" name="avatar" accept="image/*" />
    </div>
      <br /><br />

      <label for="description"><b>About Me:</b></label>
      <textarea class="formInput" id="description" name="description" placeholder="Tell us about yourself..." rows="4"><%= profile.description %></textarea>

      <br /><br />

      <label for="location"><b>Location:</b></label>
      <input class="formInput" id="location" type="text" name="location" placeholder="Your Location" value="<%= profile.location %>" />

      <br /><br />

      <label for="website"><b>Website:</b></label>
      <input class="formInput" id="website" type="text" name="website" placeholder="Your Website" value="<%= profile.website %>" />

      <br /><br />

      <label><b>Social Media:</b></label>
      <div class="social-media-inputs">
        <% const socialMedia = ['facebook', 'twitter', 'linkedin', 'youtube', 'instagram', 'github', 'reddit', 'tiktok', 'discord', 'other']; %>
        <% socialMedia.forEach(platform => { %>
          <input class="formInput" type="text" name="social.<%= platform %>" placeholder="<%= platform.charAt(0).toUpperCase() + platform.slice(1) %>" value="<%= profile.social[platform] %>" />
        <% }); %>
      </div>

      <br /><br />

      <label><b>Skills:</b></label>
      <div class="skills-checkboxes">
        <% categories.forEach(category => { %>
          <label>
            <input type="checkbox" name="skills" value="<%= category.value %>" <%if(profile.skills.includes(category.value)){%> checked <% } %> /> <%= category.label %>
          </label>
        <% }); %>
      </div>

      <br /><br />

      <button class="btn" type="submit">Update Profile</button>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>
