<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css" />

<main>
  <div id="topSpaceBuffer"></div>

  <% if (profile.avatar) { %>
    <div class="userProfileContainer">
      <div class="userProfileIndex">
        <img
          class="avatar-img"
          src="<%= profile.avatar %>"
          alt="<%= profile.name %>'s avatar"
        />
        <div class="user-info">
          <h2><%= profile.name %></h2>
          <% let total = 0 %> 
          <% let profileId = `${profile._id}` %> 
          <% projects.forEach(project => { %> 
            <% let projectOwner = `${project.owner}` %> 
            <% if (projectOwner === profileId && project.visible) { %> 
              <% total += 1 %> 
            <% } %> 
          <% }) %>
          <p><b>Projects Contributed: <%= total %></b></p>
          <p><b>Joined: <%= profile.createdAt.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) %></b></p>
        </div>
      </div>
      <a href="/profiles/<%= user.profile.id %>/edit" class="btn">Update Your Profile</a>
    </div>
  <% } %>

  <h1 class="section-headers">
    Projects added by <%= isSelf ? "you" : profile.name %>
  </h1>
  <div id="projectsIndexView">
    <%- include('../partials/projectIndexPartial', { projects: projects }) %>
  </div>

  <div id="bottomSpaceBuffer"></div>
  <%- include('../partials/footer') %>
</main>
