<%- include('./partials/html-head') %> <%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/projects/index.css" />


<main>
  <div id="topSpaceBuffer"></div>

  <div id="projectsIndexView">
    <% projects.forEach(project =>{ %>
    <a href="/projects/<%= project._id %>">
      <div id="projectIndexCard">
        <% if (project.buildPictures.length > 0) { %>
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <% project.buildPictures.forEach((_, index) => { %>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" <%= index === 0 ? 'class="active"' : '' %> aria-label="Slide <%= index + 1 %>"></button>
              <% }) %>
            </div>
            <div class="carousel-inner">
              <% project.buildPictures.forEach((picture, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img src="<%= picture %>" class="d-block w-100" alt="Slide <%= index + 1 %>">
                </div>
              <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
          <% } %>
        <h2><%=project.title%></h2>
        <div id="project-time-difficulty">
          <div class="info">
            <img
              class="project-icons"
              src="/images/projects/spirit-level-svgrepo-com.svg"
              alt="difficulty level"
            />
            <%=project.difficulty%>/10
          </div>
          <div class="info">
            <img
              class="project-icons"
              src="/images/projects/time-lapse-2-svgrepo-com.svg"
              alt="build time"
            />
            <%=project.buildTime%> hours
          </div>
          <div class="info">
            <img
              class="project-icons"
              src="/images/projects/like-svgrepo-com.svg"
              alt="likes"
            />
            <%=project.likes%>
          </div>
          <div class="info">
            <img
              class="project-icons"
              src="/images/projects/rating-svgrepo-com.svg"
              alt="rating"
            />
            <%=project.averageRating%>
          </div>
        </div>
        <div class="info" id="categories">
          <img
            class="project-icons"
            src="/images/projects/category-2-svgrepo-com.svg"
            alt="categories"
          />
          <% project.categories.forEach(category => { %>
          <span class="cat-pill"><%=category%></span>
          <% }) %>
          <br />
        </div>

        <div class="info" id="buildDescription">
          <img
            class="project-icons"
            src="/images/projects/description-svgrepo-com.svg"
            alt="description"
          />
          <%=project.description%>
        </div>
        <div class="info">
          <img
            id="ownerAvatar"
            src="<%=project.ownerAvatar%>"
            alt="picture of
        project owner"
          /><%=project.ownerName%>
        </div>
      </div>
    </a>
    <%})%>
  </div>

  <%- include('./partials/footer') %>
</main>
