<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/projects/new.css" />
<%- include('../partials/nav') %>

<main>
  <div id="topSpaceBuffer"></div>

  <div id="newProject">
    <h1><%= title %></h1>
    <% if (user?.profile._id) { %>

    <div id="creatProject">
      <form action="/projects" method="POST" enctype="multipart/form-data">
        <label for="projectTitle">
          <b>Project Title:</b>
        </label>
        <input
          class="formInput"
          id="projectTitle"
          type="text"
          name="title"
          placeholder="Project Title"
          required
          size="50"
        />

        <br />
        <br />
        <label for="projectDescription">
          <b>Project Description:</b>
        </label>
        <textarea
          class="formInput"
          id="projectDescription"
          type="text"
          name="description"
          placeholder="Project Description"
          required
          rows="4"
          cols="50"
        ></textarea>
        <br />
        <br />

        <fieldset>
          <legend>Build Details</legend>
          <div class="partialFormContainer">
            <div>
              <label for="buildTime">
                <b>Build Time:</b>
                <input type="number" name="buildTime" id="buildTime" min="0" />
                Hours
              </label>
            </div>

            <div>
              <label for="difficulty">
                <b>Difficulty:</b>
                <input
                  type="number"
                  name="difficulty"
                  id="difficulty"
                  min="0"
                  required
                />
                On a scale of [Beginner] 1 to 10 [Pro]
              </label>
            </div>
          </div>
        </fieldset>
        <br />

        <div class="partialFormContainer">
          <div>
            <label for="categories">
              <b>Categories:</b>
            </label>
            <select
              name="categories"
              id="categories"
              multiple
              required
              aria-describedby="categoriesHelp"
            >
              <% categories.forEach(category => { %>
              <option value="<%= category.value %>">
                <%= category.label %>
              </option>
              <% }); %>
            </select>
            <p id="categoriesHelp">
              <b
                >Hold down the Ctrl (windows) / Command (Mac) button to select
                multiple options.</b
              >
            </p>
          </div>
        </div>
        <br />

        <div id="materialsList">
          <label for="materialsNeeded">
            <b>Materials:</b>
          </label>
          <input
            class="formInput"
            id="materialsNeeded"
            type="text"
            name="materialsNeeded"
            size="43"
          />
          <br />
          <div id="add-materials-container"></div>
          <br />
          <button class="btn">
            <a href="#" id="addMaterialLink" onclick="addMaterials()"
              >Add more Materials</a
            >
          </button>
          <br />
        </div>

        <div id="toolsList">
          <label>
            <b>Tools Needed/Used:</b>
            <input
              class="formInput"
              id="toolsNeeded"
              type="text"
              name="toolsNeeded"
              size="43"
            />
            <br />
            <div id="add-tool-container"></div>
            <br />
            <button class="btn">
              <a href="#" id="addToolLink" onclick="addTools()"
                >Add additional tool</a
              >
            </button>
            <br />
          </label>
        </div>
        <br />

        <label>
          <b>Build Instructions:</b>
          <br />
          <br />
          <div id="buildInstructions">
            <textarea
              placeholder="Steps 1: ..."
              name="buildInstructions"
              cols="53"
              rows="17"
              required
              spellcheck="true"
              wrap="soft"
            ></textarea>
            <br />
            <br />
          </div>
          <button class="btn">
            <a href="#" id="addBuildStepLink" onclick="addSteps()"
              >Add another step</a
            >
          </button>
          <br />
          <label for="projectPictures">
            <b>Project Pictures:</b> (Accepted formats: JPG, PNG)
          </label>
          <input
            class="formInput"
            id="projectPictures"
            type="file"
            name="buildPictures"
            multiple
            accept="image/jpeg, image/png"
          />
          <br />
          <br />
          <div id="external-link-container">
            <label>
              <b>Links to External resources:</b>
              <input
                class="formInput"
                id="externalLinks"
                type="text"
                name="externalLinks"
                size="43"
              />
              <br />
              <div id="add-links-container"></div>
              <br />
              <button class="btn">
                <a href="#" id="addLink" onclick="addLinks()">Add more Links</a>
              </button>
              <br />
            </label>
          </div>
        </label>
        <input hidden name="owner" value="<%=owner%>" />
        <input hidden name="ownerName" value="<%=ownerName%>" />
        <input hidden name="ownerAvatar" value="<%=ownerAvatar%>" />
        <input hidden name="visible" value="true" />
        <button class="btn" type="submit">Add Project</button>
      </form>
    </div>
    <% } else { %>
    <h1>You must be Logged in to add projects!</h1>
    <% } %>
  </div>
  <%- include('../partials/footer') %>
</main>
