<script defer src="/js/projects/rating.js"></script>
<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/projects/show.css" />

<%- include('../partials/nav') %>

<main>
  <div id="topSpaceBuffer"></div>
  <h1><%= title %></h1>
  <div id="projectDetailView">
    <h2><%=project.title%></h2>
    <% if (project.buildPictures.length >0) {%>
    <div id="projectImage">
      <img src="<%=project.buildPictures[0]%>" />
    </div>
    <% } %>

    <div id="projectDescription">
      <p><%=project.description%></p>

    <div id="buildInfo">
      <p>
        <b>Build Time:</b> <%=project.buildTime%><br />
        <b>Difficulty:</b> <%=project.difficulty%><br />
        <b>Estimated Cost:</b> $ <%=project.estimatedCost%><br />
      </p>
    </div>

    <% if (project.materialsNeeded.length) { %>
    <br />
    <div id="materialList">
      <b>Materials:</b>
      <br />
      <% project.materialsNeeded.forEach(material => { %> <%=material %><br />
      <%});%>
    </div>
    <% } %>

    <br />
    <% if (project.toolsNeeded.length) { %>
    <br />
    <div id="tools-List">
      <b>Tools:</b>
      <br />
      <% project.toolsNeeded.forEach(tool => { %> <%=tool %><br />
      <%});%>
    </div>
    <% } %>

    <br />

    <% if(project.buildInstructions.length > 0) { %>
    <div id="buildInstructions">
      <b>Instructions:</b> 
      <ol>
        <% project.buildInstructions.forEach(instruction => { %>
        <li><%=instruction %></li>
        <br /><br />
        <%});%>
    </div>
    <% } %>

    <b>Created by:</b> <%=project.ownerName %>
    <img id="commentProfilePic" src="<%=project.ownerAvatar%>" />

    <div id="projectButtons">
      <form>
        <input
          class="btn"
          type="button"
          value="Go back"
          onclick="history.back()"
        />
      </form>

      <% if (project.owner.equals(user?.profile._id)) { %>
      <a href="/projects/<%= project._id %>/edit">
        <input class="btn" value="Edit Project" type="submit" />
      </a>
      <form action="/projects/<%= project._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete</button>
      </form>
      <% } %>
    </div>
  </div>
  <div id="ratingBox">
    <% if (project.rating.length === 0) { %>
    <p>Be the First to rate!</p>
    <%} else { %> Average Rating<br />
    <div class="Stars" style="--rating: <%=averageRating%>"></div>
    <p>Out of <%=project.rating.length%> ratings.</p>
    <% } %>
  </div>
  <% project.comments.forEach(comment => { %>
  <div id="projectComment">
    <%=comment.content %><br />
    <div id="commentatorInfo">
      <img id="commentProfilePic" src="<%=comment.avatar%>" />
      <span id="commentator"
        ><b><%=comment.name %></b> commented on
        <%=comment.createdAt.toString().substring(0,15) %> at
        <%=comment.createdAt.toString().substring(16, 21) %> <% if
        (comment.owner.equals(user?.profile._id)) { %>
      </span>
      <form
        action="/projects/<%= project._id %>/comments/<%=comment.id%>?_method=DELETE"
        method="POST"
      >
        <br />
        <button class="btn" type="submit">remove comment</button>
      </form>
      <% } %>
    </div>
  </div>
  <% }) %>
  <div id="addProjectComment">
    <form action="/projects/<%=project._id%>/comments" method="post">
      <br />Rate and Leave a comment<br />
      <div class="rating">
        <span class="rating__result"></span>
        <select type="text" name="rating">
          <option value="" selected></option>
          <option value="1">⭐️</option>
          <option value="2">⭐️⭐️</option>
          <option value="3">⭐️⭐️⭐️</option>
          <option value="4">⭐️⭐️⭐️⭐️</option>
          <option value="5">⭐️⭐️⭐️⭐️⭐️</option></select
        ><br /><br />
      </div>
      <textarea id="commentText" name="content" rows="5"></textarea>
      <br />
      <br />
      <input hidden name="name" value="<%=name%>" />
      <input hidden name="avatar" value="<%=avatar%>" />
      <button class="btn" type="submit">Add Comment</button>
    </form>
  </div>
<%- include('../partials/footer') %>
</main>
